{% extends 'base.html' %}

{% block bdycon %}
 <main class="hero">

   <section class="logs-section">
     <h1>Predictions Report 🧾</h1>
    <table>
      <thead>
        <tr>
          <!-- <th> # </th> -->
          <th>Filename</th>
          <th>Predictions</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        {% for eachlog in predicts %}
        <tr>
          {% for vals in eachlog %}
          <!-- <th> 1 </th> -->
          <td>{{ vals }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <a href="/">
      <button>Go Back to Uploads</button>
    </a>
  </section>
</main>
{% endblock bdycon %}