{% extends 'base.html' %}
{% block bdycon %}
<figure class="text-center">
  <blockquote class="blockquote">
    <p class="head">Model Metrics : </p></blockquote>

    <!-- <ul>
        <li>Accuracy: {{met_data.accuracy}}</li>
        <li>Precision: {{met_data.precision}}</li>
        <li>Recall: {{met_data.recall}}</li>
        <li>Score: {{met_data.score}}</li>
    </ul> -->


        <table class="table table-info table-striped-columns"  style="width: 40vw; height: auto;">
            <thead>
                <tr class="table-info" >
                    <th class="table-info"  scope="col"># </th>
                    <th class="table-info"  scope="col">Metrics </th>
                    <th class="table-info"  scope="col">Values </th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-info" >
                    <th class="table-info"  scope="row">1</th>
                    <td>Accuracy: </td>
                    <td>{{met_data.accuracy}}</td>
                </tr>
                <tr class="table-info" >
                    <th class="table-info"  scope="row">2</th>
      <td>Precision: </td>
      <td>{{met_data.precision}}</td>
    </tr>
    <tr class="table-info" >
        <th scope="row">3</th>
        <td>Recall: </td>
        <td>{{met_data.recall}}</td>
    </tr>
    <tr class="table-info" >
      <th class="table-info"  scope="row">4</th>
      <td>Score: </td>
      <td>{{met_data.score}}</td>
    </tr>
  </tbody>
</table>
     <div class="col-auto">
        <a href="/">
          <button class="btn btn-primary">Go Back to Uploads </button>
        </a>
      </div>
  </blockquote>
</figure>

{% endblock bdycon %}