{% extends 'base.html' %}
{% block bdycon %}
 <main class="hero">
   
  <section class="metrics-section">
    <h1>Model Metrics</h1>

    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Metric</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Accuracy</td>
          <td>{{met_data.accuracy}}</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Precision</td>
          <td>{{met_data.precision}}</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Recall</td>
          <td>{{met_data.recall}}</td>
        </tr>
        <tr>
          <td>4</td>
          <td>F1-Score</td>
          <td>{{met_data.f1_score}}</td>
        </tr>
      </tbody>
    </table>

    <h1 style="margin-bottom: 15px;">Confusion Matrix</h1>
    <img class="confu_mat" src="{{confu_mat}}" alt="Confusion Matrix" width="400">

    <a href="/">
      <button>Go Back to Uploads</button>
    </a>
  </section>
</main>
{% endblock bdycon %}